.git/
.github/
dist/
node_modules/
packages/
src/

lib/test/
lib/executable/
lib/ErrorUtil.**
lib/*/**/*.d.ts

*.js.map
*.*ignore
.eslintrc.cjs
package-lock.json
prettier.config.js
tsconfig.api.json
tsconfig.json
*.log